.container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 100%;
    margin: 0 15px;
    grid-auto-rows: minmax(auto, 1fr);
    grid-auto-flow: row; 
}

.items-products {
    text-align: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container img {
    margin-bottom: 10px;
}

.product-details {
    text-align: center;
}
.product-details button {
    background-color: #121312;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}